// light
// $basic: #f6f6f6;
// $background: #ffffff;
// $gray-line: #f6f6f6;

// dark
$basic: #161b22;
$background: #0d1117;
$gray-line: #2c2c2c;

// other
$black: #232323;
$green: #a7cb42;
$pink: #e35e9f;

$container-width: 90%;

$duration: 0.15s;
