@import './variables';
@import './libs/normalize';

@import './components/all';

body {
  background-color: $background;
}

.container {
  width: $container-width;
  margin: 0 auto;

  &--right {
    max-width: 820px;
    margin: 90px auto;
    .content__title {
      margin: 0;
    }
  }
}
